body{
  background-color: white;
}
.appBar{
  background-color: white;
  display: flex;
  justify-content: space-around
}
.driveIcon{
  height: 3rem;
  width: 3.5rem;
}
.gDrive{
 position: relative;
 bottom: 12.5px;
 left: 5px;
 font-size: 22px;
}
.loginSignupBtn{
position: relative;
top: 8px;
}
.loginSignupBtn>Button:nth-child(2){
margin-left: 5px;
}
.homeContent{
  text-align: center;
}
.signupPage{
  text-align: center;
}
.signupInput{
  width: 28vw;
}
.signupPage>h2{
  margin-top: 0px;
}
.loginPage{
  text-align: center;
}
.loginPage>h2{
  margin-top: 0px;
}
.addBtn{
  position: relative;
  left: 30px;
  top: 50px;
}